<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <title>demo</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href={% static '/user/img/favicon.png' %} rel="icon">
  <link href={% static '/user/img/apple-touch-icon.png' %} rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href={% static '/user/lib/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
  <link href={% static '/user/lib/font-awesome/css/font-awesome.min.css' %} rel="stylesheet">
  <link href={% static '/user/lib/animate/animate.min.css' %} rel="stylesheet">
  <link href={% static '/user/lib/ionicons/css/ionicons.min.css' %} rel="stylesheet">
  <link href={% static '/user/lib/owlcarousel/assets/owl.carousel.min.css' %} rel="stylesheet">
  <link href={% static '/user/css/style.css' %} rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>

<body>

  <div class="click-closed"></div>

  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">{% block title %}{% endblock %}</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">关键词</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="关键词">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="Type">类型</label>
              <select class="form-control form-control-lg form-control-a" id="类型">
                <option>所有产品</option>
                <option>For Rent</option>
                <option>For Sale</option>
                <option>Open House</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">City</label>
              <select class="form-control form-control-lg form-control-a" id="city">
                <option>All City</option>
                <option>Alabama</option>
                <option>Arizona</option>
                <option>California</option>
                <option>Colorado</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Bedrooms</label>
              <select class="form-control form-control-lg form-control-a" id="bedrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="garages">Garages</label>
              <select class="form-control form-control-lg form-control-a" id="garages">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Bathrooms</label>
              <select class="form-control form-control-lg form-control-a" id="bathrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="price">Min Price</label>
              <select class="form-control form-control-lg form-control-a" id="price">
                <option>Unlimite</option>
                <option>$50,000</option>
                <option>$100,000</option>
                <option>$150,000</option>
                <option>$200,000</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Property</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/user/index">广东<span class="color-b">起重机</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">关于我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="property-grid.html">产品中心</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">联系我们</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav>
  {% block content1 %}

  {% endblock %}
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand"></h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
                sed aute irure.
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">联系方式:</span> 手机号</li>
                <li class="color-a">
                  <span class="color-text-a">邮箱:</span> 联系邮箱</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">The Company</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Site Map</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Careers</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">产品中心</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">桥式起重机</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">门式起重机</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">专用起重机</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">电动葫芦</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/user/index">主页</a>
              </li>
              <li class="list-inline-item">
                <a href="/user/about">关于</a>
              </li>
              <li class="list-inline-item">
                <a href="/user/propertygrid">产品中心</a>
              </li>
              <li class="list-inline-item">
                <a href="/user/bloggrid">产品介绍</a>
              </li>
              <li class="list-inline-item">
                <a href="/user/contact">联系我们</a>
              </li>
            </ul>
          </nav>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; 版权所有
              <span class="color-a">河南省矿山起重机有限公司</span>
            </p>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>
  {%block footer%}
  {% endblock %}

  <script src={% static '/user/lib/jquery/jquery.min.js' %}></script>
  <script src={% static '/user/lib/jquery/jquery-migrate.min.js' %}></script>
  <script src={% static '/user/lib/popper/popper.min.js' %}></script>
  <script src={% static '/user/lib/bootstrap/js/bootstrap.min.js' %}></script>
  <script src={% static '/user/lib/easing/easing.min.js' %}></script>
  <script src={% static '/user/lib/owlcarousel/owl.carousel.min.js' %}></script>
  <script src={% static '/user/lib/scrollreveal/scrollreveal.min.js' %}></script>
  <script src={% static '/user/contactform/contactform.js' %}></script>
  <script src={% static '/user/js/main.js' %}></script>
    {%block script%}
    {% endblock %}
</body>
</html>
